// Colors
$color-accent: hsl(50, 100%, 50%);
$color-repertoire: hsl(200, 75%, 75%);
$color-archive: hsl(50, 65%, 65%);

$text-primary: hsl(0, 0%, 95%);

$color-again: hsl(5, 81%, 73%);
$color-hard: hsl(30, 89%, 79%);
$color-good: hsl(49, 100%, 88%);
$color-easy: hsl(118, 46%, 84%);

// Fonts
$font-primary: 'Courier New';
$font-sans: 'Segoe UI';
$font-special: 'Orbitron';

// Z-indices
$z-above: 10;
$z-overlay: 100;
