@use '../abstracts' as *;
@use 'node_modules/react-chessground/dist/styles/chessground.css';

.chessboard {
  // Note: height and width are not defined here. Passing them into Chessground as props ensures proper re-rendering natively.
  position: relative;
  transition: box-shadow 1s ease-in-out;

  // TODO why isn't the transition working?
  cg-board square.selected {
    transition: box-shadow 1s ease-in-out;
    box-shadow: none;
  }

  &--highlighting {
    cg-board square.move-dest {
      background: none;
    }

    cg-board square.move-dest:hover {
      background: none;
    }

    cg-board square.selected {
      box-shadow: 0 0 0 100vw hsla(0, 0%, 0%, 0.2);
      background-color: $color-again;
    }
  }
}

.cg-wrap {
  // TODO path
  // background-image: url(../images/board/blue.svg);
}
