@use '../abstracts' as *;

.menu-button {
  @include flex(row);
  gap: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: hsl(200, 7%, 25%);
  width: 40%;
  height: 3.5rem;
  color: $text-primary;
  font-size: 1rem;
  font-family: $font-sans;

  &:hover {
    background-color: hsl(207, 7%, 30%);
  }

  &:focus {
    outline: none;
  }

  &--disabled {
    opacity: 0.5;
    cursor: default;

    &:hover {
      background-color: hsl(207, 7%, 25%);
    }
  }

  &__icon {
    display: flex;
    cursor: pointer;
    color: $color-accent;
    font-size: 2.5rem;

    &--disabled {
      cursor: default;
    }
  }

  &__text {
    font-family: $font-sans;
  }
}
