@use '../abstracts' as *;

.pgn-input {
  @include flex(row);
  z-index: $z-above;
  transition: all 0.5s ease;
  box-shadow: 0 0 0 1px hsl(0, 0%, 33%);
  border: 3px solid transparent;
  border-radius: 0.375rem;
  background-color: hsl(0, 0%, 12%);
  padding: 0.5rem 0.75rem;
  width: 50dvh;
  color: hsl(0, 0%, 87%);
  font-size: 0.9rem;
  line-height: 1.4;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px hsla(213, 100%, 65%, 0.3);
    border-color: hsl(197, 100%, 65%);
  }

  &::placeholder {
    opacity: 0.7;
    color: hsl(0, 0%, 67%);
  }

  &--fading {
    transition: all 1s ease;
    box-shadow: transparent;
    border-color: transparent;
    color: transparent;
  }
}
