@use '../abstracts' as *;
@use 'sass:color';

.tabs {
  @include flex(row);
  position: absolute;
  top: -2rem;
  align-items: flex-end;
  gap: 0.5rem;
  border-bottom: 4px solid;
  width: 100%;

  &--repertoire {
    border-image: linear-gradient(to right, $color-repertoire-gradient-bottom, $color-repertoire) 1;
  }

  &--archive {
    border-color: $color-archive-gradient-bottom;
  }

  .tab {
    cursor: default;
    outline: none;
    border-radius: 0.5rem 2rem 0 0;
    width: 100%;
    height: 1.8rem;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    font-family: $font-special;
    letter-spacing: 0.3rem;

    &--repertoire {
      background-image: linear-gradient(
        to bottom,
        $color-repertoire-gradient-top,
        $color-repertoire-gradient-bottom
      );
    }

    &--archive {
      background-image: linear-gradient(
        to bottom,
        $color-archive-gradient-top,
        $color-archive-gradient-bottom
      );
    }

    &--inactive {
      cursor: pointer;
      background-image: none;
      background-color: hsl(0, 0%, 25%);
      height: 1.5rem;
      color: hsl(0, 0%, 50%);

      &:hover {
        background-color: hsl(0, 0%, 30%);
      }
    }
  }
}
