@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Courier New', Courier, monospace !important;
}

.container {
  @include flex(row);

  gap: 5rem;
}

.chessboard {
  position: relative;
}

.icon {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 9;
  pointer-events: none;

  width: 10vw;
  height: 10vw;

  opacity: 97.5;

  &--correct {
    @extend .icon;
    color: hsl(120, 50%, 40%);
  }

  &--incorrect {
    @extend .icon;
    color: hsl(0, 50%, 50%);
  }

  &--booked {
    @extend .icon;
    color: orange;
  }
}

.menu {
  @include flex(column);

  height: 75dvh;
  width: 32.5vw;
  background-color: hsla(204, 7%, 14%, 97.5%);

  gap: 5rem;
}

.btn {
  color: white;
  background-color: hsl(207, 7%, 32%);
  cursor: pointer;
  font-family: 'Segoe UI';

  &:hover {
    background-color: hsl(207, 7%, 37%);
  }

  &:focus {
    outline: none;
  }
}

.btn-submit {
  @extend .btn;
  width: 100%;

  height: 3rem;

  border-radius: 0.35rem;

  font-size: 1rem;
}

.btn-study {
  @extend .btn-submit;
}

.status {
  color: hsl(50, 100%, 50%);
  font-weight: bold;
}

.grade-menu {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 5vw;

  padding: 2rem;
  background-color: hsl(240, 7%, 11%);
  border-radius: 1rem;
}

.grade {
  @include flex(column);
}

.grade-button {
  width: 7.5vw;
  height: 2.5dvh;
}
