.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 5rem;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url('../assets/mountains.jpg');
  background-position: center;

  height: 75dvh;
  width: 32.5vw;
  background-color: black;
}

.btn {
  color: white;
  background-color: black;
}

.btn-submit {
  @extend .btn;
  height: 2.5rem;
  width: 10rem;
  border-radius: 0.5rem;
}
